extends ../layout

block content
  div.hero-unit
      h1 欢迎来到#{title}的测试页
      p #{title} 是一个基于 Node.js 的系统
      p
        a.btn.btn-primary.btn-large(href='/login') 登录
        a.btn.btn-large(href='/reg') 立即注册