doctype 5
html
  include head
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container
          a.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') #{title}
          div.nav-collapse.collapse
            ul.nav.pull-right
              li
                .btn-group
                  a.btn.btn-info.dropdown-toggle(data-toggle='dropdown',href='/') #{user.nickname}
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href='/signout') 注销
    .container
      - if(success)
        div.alert.alert-success= success
      - if (error)
        div.alert.alert-error= error
      block content
      hr
      footer
        p &copy; guojiaming 2013
    
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')