extends welcome
block append head
  style(type='text/css')
    #loginForm {
      text-align: center;
    }
    #cfooter {
      text-align: center;
    }
block content
  form#loginForm.form-signin(method='post',action='/login')
    div.control-group
      div.controls
        input#email.input-xlarge(type='text', name='email', placeholder='电子邮箱')
        div#alertdiv1.alert.in(style='display:none')
          button.close(type='button', data-dismiss='alert') x
          | <strong>提醒！</strong>请输入电子邮箱地址
    div.control-group
      div.controls
        input#password.input-xlarge(type='password', name='password', placeholder='密码')
        div#alertdiv2.alert.in(style='display:none')
          button.close(type='button', data-dismiss='alert') x
          | <strong>提醒！</strong>请输入密码

    div.form-actions
      button#submitbtn.btn.btn-large.btn-primary(type='button', onclick='doLogin();') 登录
      | &nbsp;&nbsp;&nbsp;
      a(href='/findpwd') 忘记密码？
  script
    function doLogin(){
      if($('#email').val()==''){
        $("#alertdiv1").show();
        return;
      }else{
        $("#alertdiv1").hide();
      }
      if($('#password').val()==''){
        $("#alertdiv2").show();
        return;
      }else{
        $("#alertdiv2").hide();
      }
      loginForm.submit();
    }
block footer
  #cfooter.container
    a#signin.btn(href='/signin') 立即注册