extends layout

block content
  form#loginForm.form-horizontal(method='post',action='/login')
    fieldset
      legend 用户登录
      div.control-group
        label.control-label(for='email') 电子邮箱
        div.controls
          input#email.input-xlarge(type='text', name='email', placeholder='电子邮箱')
          div#alertdiv1.alert.in(style='display:none')
            button.close(type='button', data-dismiss='alert') x
            | <strong>提醒！</strong>请输入电子邮箱地址

      div.control-group
        label.control-label(for='password') 密码
        div.controls
          input#password.input-xlarge(type='password', name='password', placeholder='密码')
          div#alertdiv2.alert.in(style='display:none')
            button.close(type='button', data-dismiss='alert') x
            | <strong>提醒！</strong>请输入密码

      div.form-actions
        button#submitbtn.btn.btn-large.btn-primary(type='button', onclick='doLogin();') 登录
  script
    function doLogin(){
      if($('#email').val()==''){
        $("#alertdiv1").show();
        return;
      }else{
        $("#alertdiv1").hide();
      }
      if($('#password').val()==''){
        $("#alertdiv2").show();
        return;
      }else{
        $("#alertdiv2").hide();
      }
      loginForm.submit();
    }