form.well.form-inline.center(method='post', enctype='multipart/form-data', action='/post', style='text-align:center;')
  input.span7(type='text', name='post')
  input.input-file(type='file', name='img')
  | &nbsp;
  button.btn.btn-success(type='submit') 发言