extends welcome
block append head
  style(type='text/css')
    .row {
      padding: 10px;
    }

block content
  form#regFrom.form-horizontal(method='post')
    .container-fluid
      .row-fluid.offset2
        .span2
          img.img-rounded(src='')
        .span5
          .row
            input#email.input-xlarge(type='email', name='email', placeholder='电子邮箱',required)
            div#alertdiv1.alert.in(style='display:none')
              button.close(type='button', data-dismiss='alert') x
              | <strong>提醒！</strong>请输入电子邮箱地址
          .row
            input#nickname.input-xlarge(type='text', name='nickname', placeholder='昵称')
            div#alertdiv2.alert.in(style='display:none')
              button.close(type='button', data-dismiss='alert') x
              | <strong>提醒！</strong>请输入昵称
          .row
            input#password.input-xlarge(type='password', name='password', placeholder='密码')
            div#alertdiv3.alert.in(style='display:none')
              button.close(type='button', data-dismiss='alert') x
              | <strong>提醒！</strong>请输入密码
          .row
            input#password-repeat.input-xlarge(type='password', name='password-repeat', placeholder='请重复输入')
            div#alertdiv4.alert.in(style='display:none')
              button.close(type='button',data-dismiss='alert') x
              | **提醒！**两次输入密码不一致
          .row
            button#submitbtn.btn.btn-large.btn-primary(type='button', onclick='doSignin();') 提交注册信息
  script
    function doSignin(){
      if($('#email').val()==''){
        $("#alertdiv1").show();
        return;
      }else{
        $("#alertdiv1").hide();
      }
      if($('#nickname').val()==''){
        $("#alertdiv2").show();
        return;
      }else{
        $("#alertdiv2").hide();
      }
      if($('#password').val()==''){
        $("#alertdiv3").show();
        return;
      }else{
        $("#alertdiv3").hide();
      }
      if($('#password').val()!=$('#password-repeat').val()){
        $("#alertdiv4").show();
        return;
      }
      regFrom.submit();
    }